# Put this file in:
# /etc/systemd/system/fondue.service

[Unit]
Description=Video Source Switcher
After=network.target docker.service

[Service]
ExecStart=/usr/bin/docker compose -f /home/pi/fondue/docker-compose.yml up
WorkingDirectory=/home/pi/fondue
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
