# Put this file in:
# /etc/systemd/system/fondue.service

[Unit]
Description=Fondue Source Switcher Video Stream
After=network.target
StartLimitIntervalSec=0

[Service]
ExecStart=/usr/bin/python3 /home/icradio/python_fondue/fondue/app.py
WorkingDirectory=/home/icradio/python_fondue/fondue
Restart=always
User=icradio

[Install]
WantedBy=multi-user.target

# sudo systemctl daemon-reexec
# sudo systemctl enable fondue
# sudo systemctl start fondue
